/* Mobile View */
body {
    width: 480px;
    height: 767px;
    margin: auto;
  }
  
  .box {
    border: 1px solid rgb(219, 214, 214);
    box-sizing: border-box;
  }
  
  /* Desktop View */
  @media screen and (min-width: 960px) {
    body {
      width: 960px;
      height: 788px;
    }
  }