/* main{
    display: flex;
  }
  
  .box-one{
    order: 1;
    height: 500px;
  }
  
  .box-two{
    order: 2;
    height: 500px;
  }
  
  .box-three{
    order: 3;
    height: 500px;
  }
  
  .box-four{
    order: 4;
    height: 500px;
  }
  
  .box-five{
    order: 5;
    height: 500px;
  }
  
  .box-six{
    order: 6;
    height: 500px;
  }
  
  .box-seven{
    order: 7;
    height: 500px;
  }
  
  .box-eight{
    order: 8;
    height: 500px;
  }
  
  .box-nine
    {
        order: 9;
        height: 500px;
      }
      
   */