   /* Mobile View */

body {
    display: flex;
    flex-wrap:  wrap;
 
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.align-box{
    display: flex;
    flex-wrap: wrap;
}

 .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box-one, .box-two, .box-three, .box-four, .box-four {
    width: 480px;
  }
  .box-five, .box-six, .box-seven, .box-eight {
    width: 240px;
    line-height: 250px;
    height: 250px;
  }

    .box-one{
        height: 75px;
        line-height: 400%;
        }
        
        .box-two{
         height: 150px;
         line-height: 1000%;
            }
        
        .box-three{
        height: 125px;
        line-height: 1000%;
        }
        
        .box-four{
        height: 125px;
        line-height: 1000%;
            }
    
            .box-nine{
                width: 480px;
                height: 80px;
                text-align: center;
                line-height: 90px;
                }

/* Desktop View */
@media screen and (min-width: 960px) {

    body {
        max-height: 400px;
      }
   

      .container {
        display: grid;
        grid-template-columns: 200px 190px 190px 190px 190px;
        grid-template-rows: 100px 200px 250px 150px;
        max-width: 760px;
        max-height: 600px;
      }

      .box-one{
        grid-column: 1/6;
        grid-row : 1/2;
      }

      .box-two{
        grid-column: 1/2;
        grid-row :2/5;
      }

      .box-three{
        grid-column:2/4;
        grid-row : 2/3
      }

      .box-four{
        grid-column: 4/6;
        grid-row : 2/3;
      }

      .box-five{
        grid-column:2/3;
        grid-row : 3/4;
      }

      .box-six{
        grid-column: 3/4;
        grid-row : 3/4;
      }

      .box-seven{
        grid-column: 4/5;
        grid-row : 3/4;
      }

      .box-eight{
        grid-column: 5/6;
        grid-row : 3/4;
      }

      .box-nine{
        grid-column: 2/6;
        grid-row : 4/5;
      }


      .box-one{
        width: 960px;
        height: 100px;
 
        }
        
         .box-two{
            width: 200px;
            height: 600px;
           margin-left: 0%;
           line-height: 600px;
            }
        
        .box-three{
        width: 380px;
        height: 200px;
        line-height: 200px;
        }
        
         .box-four{
            width: 380px;
            height: 200px;
            text-align: center;
            line-height: 200px;
            }
        
            .box-five{
                width: 190px;
                height: 250px;
                text-align: center;
                line-height: 250px;
                }
                .box-six{
                    width: 190px;
                    height: 250px;
                    line-height: 250px;
                    }
                
                    .box-seven{
                        width: 190px;
                        height: 250px;
                        line-height: 250px;
                        }
                        .box-eight{
                            width: 190px;
                            height: 250px;
                            line-height: 250px;
                            }
            .box-nine{
                width: 760px;
                height: 150px;
                line-height: 140px;
                }

}
