
.color-one{
    background-color: rgb(177, 255, 216);
}

.color-two{
    background-color: rgb(115, 185, 150);
}

    
.color-three{
    background-color: rgb(56, 199, 127);
}
 
.color-four{
    background-color: rgb(43, 146, 95);
}

.color-five{
    background-color: rgb(62, 255, 159);
}

.color-six{
    background-color: rgb(81, 182, 131);
}

.color-seven{
    background-color: rgb(224, 255, 239);
}

.color-eight{
    background-color: rgb(102, 148, 125);
}

.color-nine{background-color: rgb(72, 212, 142);
} 


/* Tablet View */
@media screen and (min-width: 768px) {
    .color-one{
      background-color: #700b0b;
    }
  
    .color-two{
      background-color: #bb4c4c;
    }
  
    .color-three {
      background-color: #b36666;
    }
    
    .color-four{
      background-color: #d84141;
    }
  
    .color-five {
      background-color: #612525;
    }
    
    .color-six{
      background-color: #ad0909;
    }
    
    .color-seven{
      background-color: #700b0b;
    }
    
    .color-eight {
      background-color: #7c2f2f;
    }
  
    .color-nine {
      background-color: #a54242;
    }
  }

  /* Desktop View */
  @media only screen and (min-width: 960px)   {

    .color-one{
        background-color: rgb(204, 0, 255);
    }

    .color-two{
        background-color: rgb(148, 8, 184);
    }
    
        
    .color-three{
        background-color: rgb(77, 19, 92);
    }
     
   .color-four{
        background-color: rgb(146, 84, 161);
    }
    
    .color-five{
        background-color: rgb(209, 125, 230);
    }
    
    .color-six{
        background-color: rgb(164, 98, 180);
    }
    
    .color-seven{
        background-color: rgb(141, 77, 156);
    }
    
    .color-eight{
        background-color: rgb(88, 40, 100);
    }
    
    .color-nine{background-color: rgb(229, 160, 247);
    }

} 